<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">Font Settings</h5>
		<div class="gf-form-inline">
			<label class="gf-form-label width-12">Title Font Size
				<tip>Font Size of Title</tip>
			</label>
			<div class="gf-form-select-wrapper">
				<select class="gf-form-input" ng-model="ctrl.panel.bullet.titleFontSize" ng-options="f for f in ctrl.panel.fontSizes" ng-change="ctrl.render()"></select>
			</div>
			<label class="gf-form-label width-12">Title Font
				<tip>The font of the title, at the left of the bullet</tip>
			</label>
			<div class="gf-form-select-wrapper">
				<select class="gf-form-input" ng-model="ctrl.panel.bullet.titleFont" ng-options="f for f in ctrl.panel.fontTypes" ng-change="ctrl.render()"></select>
			</div>
			<div class="gf-form">
	        	<label class="gf-form-label width-9">Title Color
					<tip>Color of the title</tip>
				</label>
	        	<span class="gf-form-label">
	          	<spectrum-picker ng-model="ctrl.panel.bullet.titleCol" ng-change="ctrl.render()" ></spectrum-picker>
	        	</span>
	      	</div>
		</div>
		<div class="gf-form-inline">
			<label class="gf-form-label width-12">Sub Title Font Size
				<tip>Font Size of Sub Title</tip>
			</label>
			<div class="gf-form-select-wrapper">
				<select class="gf-form-input" ng-model="ctrl.panel.bullet.subtitleFontSize" ng-options="f for f in ctrl.panel.fontSizes" ng-change="ctrl.render()"></select>
			</div>

			<label class="gf-form-label width-12">Sub Title Font
				<tip>The font of the sub title</tip>
			</label>
			<div class="gf-form-select-wrapper">
				<select class="gf-form-input" ng-model="ctrl.panel.bullet.subtitleFont" ng-options="f for f in ctrl.panel.fontTypes" ng-change="ctrl.render()"></select>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-9">Subtitle Color
					<tip>Color of the sub title</tip>
				</label>
				<span class="gf-form-label">
					<spectrum-picker ng-model="ctrl.panel.bullet.subtitleCol" ng-change="ctrl.render()" ></spectrum-picker>
				</span>
			</div>
		</div>
		<div class="gf-form-inline">
		</div>
	</div>
	<div class="section gf-form-group">
	  <h5 class="section-heading">Coloring</h5>
		<div class="gf-form-inline">
	      	<div class="gf-form">
	        	<label class="gf-form-label width-9">Range
					<tip>Color of the range</tip>
				</label>
	        	<span class="gf-form-label">
	          	<spectrum-picker ng-model="ctrl.panel.bullet.rangeCol" ng-change="ctrl.rangeColChange()" ></spectrum-picker>
	        	</span>
	      	</div>

			<div class="gf-form">
				<label class="gf-form-label width-9">Measure
					<tip>Color of the measures</tip>
				</label>
				<span class="gf-form-label">
					<spectrum-picker ng-model="ctrl.panel.bullet.measureCol" ng-change="ctrl.measureColChange()" ></spectrum-picker>
				</span>
			</div>

			<div class="gf-form">
				<label class="gf-form-label width-9">Marker
					<tip>Color of the markers</tip>
				</label>
				<span class="gf-form-label">
					<spectrum-picker ng-model="ctrl.panel.bullet.markerCol" ng-change="ctrl.render()" ></spectrum-picker>
				</span>
			</div>
			<div class="gf-form">
				<label class="gf-form-label width-9">Tick Color
					<tip>Color of the tick</tip>
				</label>
				<span class="gf-form-label">
					<spectrum-picker ng-model="ctrl.panel.bullet.tickCol" ng-change="ctrl.render()" ></spectrum-picker>
				</span>
			</div>
		</div>
  	</div>
</div>
